<launch>
	<arg name="est_odom_topic"/>
	<arg name="gt_topic"/>
		
	<node pkg="utils" type="odom2path_node.py" name="est_path_node" args="$(arg est_odom_topic)"/>
	
	<node pkg="utils" type="gt_path_node.py" name="gt_path_node" args="$(arg gt_topic)"/>
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find utils)/rviz/path_viz.rviz"/>
	
	<node pkg="utils" type="error_node.py" name="error_calc_node" args="$(arg est_odom_topic) $(arg gt_topic)"/>
	
</launch>